{
  "presets": ["next/babel", "linaria/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "layout": "./layout",
          "components": "./components"
        }
      }
    ]
  ]
}
